@import url("https://fonts.googleapis.com/css2?family=Novecento+Wide&family=Raleway:wght@400&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: #003c71; /* Pantone 540c */
  --color-yellow: #f6e70f; /* Pantone 121c */
  --color-gold: #e3d8b0; /* Pantone 451c */
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--color-blue);
  color: white;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Novecento Wide", sans-serif;
}

.escudo {
  max-width: 120px; /* Ajusta el tamaño según la recomendación */
  margin: 20px auto; /* Centra la imagen horizontalmente */
  padding: 0; /* Elimina el padding para evitar fondo blanco */
  display: block;
}

/* Clases de color personalizadas utilizando las variables CSS */
.text-blue {
  color: var(--color-blue);
}

.text-yellow {
  color: var(--color-yellow);
}

.text-gold {
  color: var(--color-gold);
}

.text-center {
  text-align: center;
}

/* Estilos adicionales para mejorar la presentación */
.bg-blue {
  background-color: var(--color-blue);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-gold {
  background-color: var(--color-gold);
}

/* Específico para iconos */
.fb-icon:hover {
  color: #2563eb; /* Forzar el color azul */
}
